{{ define "main" }}

<header class="breadCrumb px-5">
  <div class="container">
    <div class="row blog-title">
      <div class="col-lg-10 col-md-12 offset-lg-1 offset-md-0 text-center hero-title">
        <h3 class="breadCrumb__title px-5">{{ .Title }}</h3>
        <nav aria-label="breadcrumb" class="d-flex justify-content-center">
          <ol class="breadcrumb align-items-center px-5">
            <li class="breadcrumb-item px-5">{{ .Params.description }}</li>
          </ol>
        </nav>
        <nav aria-label="breadcrumb" class="d-flex justify-content-center my-4">
          <ol class="breadcrumb align-items-center px-5">
            <li class="breadcrumb-item px-5"><p class="mx-4"><i class="far fa-calendar mr-3 d-none d-lg-inline"></i> {{ .PublishDate.Format "January 2, 2006" }}</p> • <span class="mx-4"><i class="far fa-clock mr-3 d-none d-lg-inline"></i> {{ .Params.readtime }} minute read</span><p class="dqc-count d-none d-lg-inline"> • <p class="mx-4 dqc-count d-none d-lg-inline"><i class="far fa-comment-alt mr-3"></i> <a href="javascript:;" onclick="scrollComments();" class="disqus-comment-count" data-disqus-identifier="{{ .Permalink }}">0 Comments</a></p></p></li>
            <script id="dsq-count-scr" src="//tensevntysevn.disqus.com/count.js" async></script>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</header>

<section class="section singleBlog">
  <div class="svg-img">
      <img src="/assets/images/hero/figure-svg.svg" alt="">
  </div>
  <div class="animate-shape">
      <!-- <img src="/assets/images/skill/skill-background-shape.svg" alt="background-shape"> -->
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 600 600">
          <defs>
              <linearGradient id="d" x1="0.929" y1="0.111" x2="0.263" y2="0.935" gradientUnits="objectBoundingBox">
                  <stop offset="0" stop-color="#AFFDE6" />
                  <stop offset="1" stop-color="#AFFDE6" stop-opacity="0" />
              </linearGradient>
          </defs>
          <g data-name="blob-shape (3)">
              <path class="blob" fill="url(#d)"
                  d="M455.4 151.1c43.1 36.7 73.4 92.8 60.8 136.3-12.7 43.5-68.1 74.4-111.3 119.4-43.1 45-74 104.1-109.8 109-35.9 5-76.7-44.2-111.8-89.2-35.2-45-64.7-85.8-70.8-132.6-6-46.8 11.6-99.6 46.7-136.3 35.2-36.6 88-57.2 142.4-58.8 54.5-1.7 110.6 15.6 153.8 52.2z" />
          </g>
      </svg>
  </div>
  <div class="animate-pattern">
      <img src="/assets/images/service/background-pattern.svg" alt="background-shape">
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="singleBlog__feature">
                  <img src={{ .Params.featureImage | absURL }} alt="feature-image">
              </div>
          </div>
      </div>
      <div class="row mt-5">
          <div class="col-lg-12">
              <div class="singleBlog__content blog-content">
                  {{ .Content }}
              </div>
          </div>
      </div>
    <div class="row my-5">
      <div class="col-lg-10 offset-lg-1">
        {{ if .PrevInSection }}
        <nav class="case-details-nav d-flex justify-content-between align-items-center float-left">
          <div class="previous d-flex align-items-center">
            <div class="icon mr-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="15.556" height="28.285" viewBox="0 0 15.556 28.285">
                <g data-name="Group 1243" fill="#2d2d2d">
                  <path data-name="Path 1456" d="M3.391 12.728l9.75 14.142-.982 1.414-9.742-14.142z" />
                  <path data-name="Path 1455" d="M13.137 1.41L3.39 15.558l-.975-1.415L12.166 0z" />
                </g>
              </svg>
            </div>
            <div class="content">
              <span class="small">Previous post</span>
              <h5 class="title"><a class="text-dark"
                  href="{{ .PrevInSection.Permalink }}">{{ .PrevInSection.Title }}</a></h5>
            </div>
          </div>
        </nav>
        {{ end }}
        {{ if .NextInSection }}
        <nav class="case-details-nav d-flex justify-content-between align-items-center float-right">
          <div class="next d-flex align-items-center float-right">
            <div class=" content text-right">
              <span class="small">Next post</span>
              <h5 class="title">
                <a class="text-dark" href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }}</a>
              </h5>
            </div>
            <div class="icon ml-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="15.556" height="28.285" viewBox="0 0 15.556 28.285">
                <g data-name="Group 1244" fill="#2d2d2d">
                  <path data-name="Path 1456" d="M12.162 12.725L2.416 26.87l.978 1.41 9.746-14.138z" />
                  <path data-name="Path 1455" d="M2.416 1.415l9.743 14.141.975-1.414L3.39 0z" />
                </g>
              </svg>
            </div>
          </div>
        </nav>
        {{ end }}
      </div>
    </div>
      <div class="row mb-5 share" id="comments">
          <div class="col-lg-12">
              <div class="singleBlog__content hero-title">
                <h4 class="mb-4">Comments</h4>
                <div cookie-consent="targeting" class="addthis_inline_share_toolbox mb-2"></div>
                <div class="disqus"></div>
              </div>
          </div>
      </div>
  </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js" integrity="sha256-UplRCs9v4KXVJvVY+p+RSo5Q4ilAUXh7kpjyIP5odyc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js" integrity="sha256-PWHOlUzc96pMc8ThwRIXPn8yH4NOLu42RQ0b9SpnpFk=" crossorigin="anonymous"></script>
{{ end }}