---
import { ProjectList } from '@/partials/ProjectList';
import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';

const { title } = AppConfig;
const { description } = AppConfig;
---

<Base head={{ title, description }} isHome={true}>
  <div class="h-8"></div>
  <ProjectList />
</Base>
