---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';

import Hero from '../components/home/Hero.astro';
import Projects from '../components/home/Projects.astro';
---

<Layout>
	<Header />
	
	<!-- Two columns: Left is hero (1/3), right is lists of projects/blog/info (2/3) -->
	<div class="grid grid-cols-1 md:grid-cols-10 gap-12 md:mt-8 px-8 md:px-32">
		<Hero />
		<Projects />
	</div>
</Layout>
