---
import Tooltip from './Tooltip.astro';

interface Props {
    icon: any,
    name: string,
    url: string,
}

const { icon, name, url } = Astro.props;
const Icon = icon;
---

<Tooltip text={name}>
    <a type="button" href={url}
        class="btn-secondary btn-square hidden lg:block">
        <Icon />
    </a>
</Tooltip>