<!DOCTYPE html>
<html id="html"><head>
  {{ $baseurl := .Site.BaseURL }}
  <meta charset="utf-8" />
  <title>page not found | {{ .Site.Title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" integrity="sha256-3h45mwconzsKjTUULjY+EoEkoRhXcOIU4l5YAw2tSOU=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" integrity="sha256-etrwgFLGpqD4oNAFW08ZH9Bzif5ByXK2lXNHKy7LQGo=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/brands.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/magnific-popup@1.1.0/dist/magnific-popup.css" integrity="sha256-RdH19s+RN0bEXdaXsajztxnALYs/Z43H/Cdm1U4ar24=" crossorigin="anonymous">
  {{ $style := resources.Get "scss/style.scss" | resources.ToCSS | minify }}
  <link href="{{ $style.Permalink }}" rel="stylesheet" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/brand/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/brand/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/brand/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/brand/favicon/site.webmanifest">
  <link rel="mask-icon" href="/assets/brand/favicon/safari-pinned-tab.svg" color="#1b4079">
  <link rel="shortcut icon" href="/assets/brand/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#1b4079">
  <meta name="msapplication-config" content="/assets/brand/favicon/browserconfig.xml">
  <meta name="theme-color" content="#1b4079">
  <meta http-equiv="refresh" content="10;url=/" />
  <meta name="robots" content="noindex" />
  <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.min.js" integrity="sha256-WzuqEKxV9O7ODH5mbq3dUYcrjOknNnFia8zOyPhurXg=" crossorigin="anonymous"></script>
  {{ $ajax := resources.Get "js/ajax.js" | minify}}
  <script src="{{ $ajax.Permalink }}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css" integrity="sha256-sCl5PUOGMLfFYctzDW3MtRib0ctyUvI9Qsmq2wXOeBY=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.min.css" integrity="sha256-BFeI1V+Vh1Rk37wswuOYn5lsTcaU96hGaI7OUVCLjPc=" crossorigin="anonymous" />
</head>
<body>
  <div class="preloader" id="preloader">
    <div class="cssload-dots">
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
    </div>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
      <defs>
      <filter id="goo">
      <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="12" ></feGaussianBlur>
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0 0 0 1 0 0 0 0 0 18 -7" result="goo" ></feColorMatrix>
      <!--<feBlend in2="goo" in="SourceGraphic" result="mix" ></feBlend>-->
      </filter>
      </defs>
    </svg>
  </div>
  {{ partial "navbar.html" . }}
  <div id="content">
    <header class="breadCrumb px-5">
      <div class="container">
        <div class="row blog-title">
          <div class="col-lg-10 col-md-12 offset-lg-1 offset-md-0 text-center hero-title">
            <h2 class="px-5 notfound-title"><i class="fa fa-question-circle"></i> 404</h2>
            <nav aria-label="breadcrumb" class="d-flex justify-content-center">
              <ol class="breadcrumb align-items-center px-5">
                <li class="breadcrumb-item px-5"><p>This could be a problem on my part. It is also possible that the resource you are trying to view is empty. If you typed in the address, make sure it's correct. If you clicked a link from a different website or a bookmark, the link may have been moved or deleted.
                  <br><br>
                  You will be automatically redirected to the home page.<br><br>
                  If you are not automatically redirected, click <a href="/">here.</a><p>
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <section class="section singleBlog">
      <div class="svg-img">
        <img src="/assets/images/hero/figure-svg.svg" alt="">
      </div>
      <div class="animate-shape">
        <!-- <img src="/assets/images/skill/skill-background-shape.svg" alt="background-shape"> -->
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 600 600">
          <defs>
          <linearGradient id="d" x1="0.929" y1="0.111" x2="0.263" y2="0.935" gradientUnits="objectBoundingBox">
            <stop offset="0" stop-color="#AFFDE6" />
            <stop offset="1" stop-color="#AFFDE6" stop-opacity="0" />
          </linearGradient>
          </defs>
          <g data-name="blob-shape (3)">
            <path class="blob" fill="url(#d)"
              d="M455.4 151.1c43.1 36.7 73.4 92.8 60.8 136.3-12.7 43.5-68.1 74.4-111.3 119.4-43.1 45-74 104.1-109.8 109-35.9 5-76.7-44.2-111.8-89.2-35.2-45-64.7-85.8-70.8-132.6-6-46.8 11.6-99.6 46.7-136.3 35.2-36.6 88-57.2 142.4-58.8 54.5-1.7 110.6 15.6 153.8 52.2z" />
            </g>
          </svg>
        </div>
        <div class="animate-pattern">
          <img src="/assets/images/service/background-pattern.svg" alt="background-shape">
        </div>
      </section>
    </div>
    {{ partial "footer.html" . }}
  </body>
</html>