---
import Illustration from "@site/assets/blog-header-illustration.png";
---

<section class="blog-hero z-0">
    <div class="flex flex-row py-8 px-8 lg:px-16 xl:px-32 w-full items-center">
        <div class="flex flex-col pt-4">
            <h1 class="blog-hero-title text-6xl font-bold pb-1 font-header select-none">blog</h1>
            <p class="text-md font-medium pt-4 text-transparent md:text-on-surface-variant">The home of my random ramblings, thoughts, and musings.</p>
            <a class="text-xs font-medium pt-1 text-outline opacity-50 w-fit" href="https://www.vecteezy.com/free-png/green">(Green PNGs by Vecteezy)</a> 
        </div>
        <img src={Illustration.src} draggable={false} alt="Green PNGs by Vecteezy" class="w-72 ml-auto mr-[10%] -mt-8 self-start hidden lg:block pointer-events-none select-none" />
        
    </div>
</section>
