---
import TouchHandler from "@site/scripts/TouchHandler.astro"
---

<div>
    <TouchHandler />
    <script data-goatcounter="https://goat.tenseventyseven.xyz/count"
        async src="//gc.zgo.at/count.js"></script>
</div>
